.blog h1 {
    color: hsl(36, 100%, 99%);
    font-size: 1.8rem;
    margin-bottom: 10px;
}
.blog p {
    color: hsl(233, 8%, 79%);
    font-size: 1.5rem;
    line-height: 35px;
    margin-bottom: 30px;
}
.blog hr {
    border: 1px solid hsl(0, 0%, 34%);
}
.blog {
    margin-bottom: 40px;
}

